{% extends 'base.html' %}

{% block content %}
<div style="width: 100%; float: left; text-align: center;" id="statistics">
<h2>Statistics</h2>
<div style="display: inline;">
    <div style="width: 50%; float: left">
    <h3>Total Projects:</h3>
    <p style="color: green; font-size: 48px; margin-top: 0px;">{{ last_project_id }}</p>
</div>
<div style="width: 50%; float: left;">
    <h3>Total Donated:</h3>
<p style="color: green; font-size: 48px; margin-top: 0px;">{{ total_donated }}$</p>
</div>
</div>
</div>

<table><tr><td></td></tr></table>
<hr>

<table style="width:100%;">
    <tr>
        {% for item in project_list %}
        <td class="td-project">
                    <h3>{{ item }}</h3>
            <p>{{ item.project_Date }}</p>
        </div>
        <div style="margin: 5px; padding: 5px; text-align: left;">
            <p>Project Location: {{ item.project_Location }}</p>    
            <p>Project Goal: {{ item.project_Goal }}$</p>
            <p>Project Reach: {{ item.project_Reach }}$</p>
            <form action="/projects/{{ item.project_id }}">
                <center><input type="submit" value="Donate"></center>
            </form>
        </td>
        {% endfor %}
    </tr>
</table>


<!--
<div style="width: 100%; float: left; text-align: center;" id="projects">
<h2>Projects</h2>
  {% for item in project_list %}
  <center><div style="width: 31.33%; float:left; border: 1px solid; margin: 1%; border-color: green; ">
        <div  style="border-bottom: dashed 1px; margin: 5px; padding: 5px; border-color: green;">
            <h3>{{ item }}</h3>
            <p>{{ item.project_Date }}</p>
        </div>
        <div style="margin: 5px; padding: 5px; text-align: left;">
            <p>Project Location: {{ item.project_Location }}</p>    
            <p>Project Goal: {{ item.project_Goal }}$</p>
            <p>Project Reach: {{ item.project_Reach }}$</p>
            <form action="/projects/{{ item.project_id }}">
                <center><input type="submit" value="Donate"></center>
            </form>
        </div>
  </div></center>
  {% endfor %}
</div>
-->

<table><tr><td></td></tr></table>
<hr>

<div style="width: 100%; float: left;" id="donations">  
<h2>Donations</h2>
  <table style="">
    <table style="float: left; width: 33.33%; padding: 20px;">
        <th style="text-align: right;">Username</th>
    {% for user in users %}
    <tr>    
        <td style="text-align: right;">{{ user }}</td>
    </tr>
    {% endfor %}
    </table>
    <table style="float: left; width: 33.33%; padding: 20px;">
        <th><br></th>
    {% for user in users %}
    <tr>    
        <td style="text-align: center; color: green;">donated to</td>
    </tr>
    {% endfor %}
    </table>
    <table style="float: left; width: 33.33%; padding: 20px;">
    <th style="text-align: left;">Project</th>
    {% for project in projects %}
    <tr>
        <td style="text-align: left;">{{ project }}</td>
    </tr>
    {% endfor %}
    </table>
    </table>
</div>
        
<!--
  <div>
    {% if donations %}
        <ul>
        {% for donation in donations %}
        <li>{{ donation }}</li>
        <li>{{ donation.project_Id }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No users are available.</p>
    {% endif %}
</div>
-->
{% endblock %}
