{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
  <h2>Welcome, {{ user.username }}!</h2>
    {% else %}
    <h2>Please register or login to donate.</h2>
    {% endif %}
  <ul>
    {% for item in project_list %}
    <li><a href="/projects/{{ item.project_id }}">{{ item }}</a></li>
    {% endfor %}
  </ul>
  <table style="">
    <table style="float: left; width: 33.33%; padding: 20px;">
    {% for user in users %}
    <tr>    
        <td style="text-align: right;">{{ user }}</td>
    </tr>
    {% endfor %}
    </table>
    <table style="float: left; width: 33.33%; padding: 20px;">
    {% for user in users %}
    <tr>    
        <td style="text-align: center;"><- donated to -></td>
    </tr>
    {% endfor %}
    </table>
    <table style="float: left; width: 33.33%; padding: 20px;">
    {% for project in projects %}
    <tr>
        <td style="text-align: left;">{{ project }}</td>
    </tr>
    {% endfor %}
    </table>
    </table>


<!--
  <div>
    {% if donations %}
        <ul>
        {% for donation in donations %}
        <li>{{ donation }}</li>
        <li>{{ donation.project_Id }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No users are available.</p>
    {% endif %}
</div>
-->
{% endblock %}
