{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
  <h2>Welcome, {{ user.username }}!</h2>
    {% else %}
    <h2>Please register or login to donate.</h2>
    {% endif %}
  <div>
    {% if project_list %}
        <table>
            <tr><th>{{ project_list.project_Name }}</th>
            </tr>
            <tr><td>Date:</td>
                <td>{{ project_list.project_Date }}</td>
            </tr>
            <tr><td>Project Location:</td>
                <td>{{ project_list.project_Location }}</td>
            </tr>
            <tr><td>About Project:</td>
                <td>{{ project_list.project_Info }}</td>
            </tr>
            <tr><td>Project Goal:</td>
                <td>{{ project_list.project_Goal }}</td>
            </tr>
            <tr><td>Project Reach:</td>
                <td>{{ project_list.project_Reach }}</td>
            </tr>
        </table>
        {% if user.is_authenticated %}
        {% if project_list.project_Reach < project_list.project_Goal %}
        <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Donate" />
        </form>
        {% else %}
        <p>Project Goal is Reached. Thank you.</p>
        {% endif %}
        {% else %}
        <p>Please register or login to donate.</p>
        {% endif %}
    {% else %}
        <p>No projects are available.</p>
        
    {% endif %}
  </div>
{% endblock %}
