{% extends 'base.html' %}

{% block content %}
  <div>
    {% if project_list %}
<!--
        <table style="width: 100%;">
            <tr><th>{{ project_list.project_Name }}</th>
            </tr>
            <tr><td style="border: 1px solid;">Date:</td>
                <td>{{ project_list.project_Date }}</td>
            </tr>
            <tr><td>Project Location:</td>
                <td>{{ project_list.project_Location }}</td>
            </tr>
            <tr><td>About Project:</td>
                <td>{{ project_list.project_Info }}</td>
            </tr>
            <tr><td>Project Goal:</td>
                <td>{{ project_list.project_Goal }}</td>
            </tr>
            <tr><td>Project Reach:</td>
                <td>{{ project_list.project_Reach }}</td>
            </tr>
        </table>
-->

        <h3>{{ project_list.project_Name }}</h3>
        <div style="">
            <p style="float:left; width: 50%;border-bottom: 1px dashed; border-color: green;">Date:</p>
            <p style="float:left; width: 50%;border-bottom: 1px dashed; border-color: green;">{{ project_list.project_Date }}</p>
        </div>

        <div style="">
            <p style="float:left; width: 50%;border-bottom: 1px dashed; border-color: green;">Project Location:</p>
            <p style="float:left; width: 50%;border-bottom: 1px dashed; border-color: green;">{{ project_list.project_Location }}</p>
        </div>
        <div style="">
            <p style="float:left; width: 50%;border-bottom: 1px dashed; border-color: green;">Project Goal:</p>
            <p style="float:left; width: 50%;border-bottom: 1px dashed; border-color: green;">{{ project_list.project_Goal }}</p>
        </div>
        <div style="">
            <p style="float:left; width: 50%;border-bottom: 1px dashed; border-color: green;">Project Reach:</p>
            <p style="float:left; width: 50%;border-bottom: 1px dashed;border-color: green;">{{ project_list.project_Reach }}</p>
        </div>
        <div style="">
            <p style="float:left; width: 50%;border-bottom: 1px dashed;border-color: green;">Project Info:</p>
            <p style="float:left; width: 50%;border-bottom: 1px dashed; border-color: green;">{{ project_list.project_Info }}</p>
        </div>
        {% if user.is_authenticated %}
        {% if project_list.project_Reach < project_list.project_Goal %}
        <center><form method="post" style="margin: 10px;">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Donate" />
        </form></center>
        {% else %}
        <p>Project Goal is Reached. Thank you.</p>
        {% endif %}
        {% else %}
        <p>Please register or login to donate.</p>
        {% endif %}
    {% else %}
        <p>No projects are available.</p>
        
    {% endif %}
  </div>
{% endblock %}
